/*
COLOR STANDARDS

BASE COLOR: rgb(252, 63, 68)
GRAY COLOR:rgb(169, 161, 177)
DARK COLOR:rgb(78, 39, 40)

*/

@font-face {
  font-family: pokemon;
  src: url(./fonts/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: pokemon2;
  src: url(./fonts/Pokemon\ Hollow.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 70px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./bg.jpg");
  background-position: center;
  background-size: cover;
  height: 90vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* THIS IS THE CODES FOR THE GRID MAP OF THE GAME */
/* version 2  */

#game-map {
  display: grid;
  grid-template-columns: repeat(10, 48px);
  grid-template-rows: repeat(10, 48px);
  /* gap: 1px; */
  border: 5px solid black;
}

.tile {
  width: 48px;
  height: 48px;
  background: url("./TILES/grass-short.png");
  position: relative;
}

.character {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.opponent {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.message-box {
  width: 500px;
  height: 100px;
  background-color: white;
  border: 5px solid black;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.response {
  margin-top: 20px;
}

#fight {
  padding: 5px;
  font-weight: bold;
}

.back {
  padding: 5px;
  border-radius: 5px;
  transform: translate(20px, -40px);
  font-weight: bold;
  font-size: 20px;
}
