/*
COLOR STANDARDS

BASE COLOR: rgb(252, 63, 68)
GRAY COLOR:rgb(169, 161, 177)
DARK COLOR:rgb(78, 39, 40)

*/

@font-face {
  font-family: pokemon;
  src: url(./fonts/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: pokemon2;
  src: url(./fonts/Pokemon\ Hollow.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 150px;
  flex-direction: column;
  gap: 200px;
}

.play-button {
  width: 400px;
  font-size: 20px;
  border-radius: 20px;
  margin: 0 auto;
  font-weight: bold;
  font-family: pokemon;
  transition-duration: 0.3s;
}

.play-button:hover {
  background-color: yellow;
}
